<% include header.ejs %>
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="PaperSourcing">
            <h1>PaperSourcing</h1>
            <p>紙のデータをみんなで入力しよう</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>プロジェクトを作成</h2>
              <p>プロジェクトを作って、紙をアップロードして管理しましょう</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>プロジェクトを閲覧</h2>
              <p>関心のある入力プロジェクトを見つけてみましょう</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>だれでも入力できます</h2>
              <p>どんどん入力して、オープンデータに貢献しましょう</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->

      </div><!--/row-->
<% include footer.ejs %>
