<% include header.ejs %>
  <div class="jumbotron">
      <form action="/login" method="POST" class="form-signin" role="form">
        <h2 class="form-signin-heading">ログイン</h2>
        <input name="username" type="text" class="form-control" placeholder="User Name" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
      </form>
  </div>
<% include footer.ejs %>
