<% include header.ejs %>
<div class="row">
  <div class="col-md-3">
    <div class="jumbotron">
    </div>
  </div>
  <div class="col-md-9 jumbotron">
    <h1><%= project.title %></h1>
    <p><%= project.description %></p>
  </div>
</div>
<% include footer.ejs %>
