extend layout
block content
    .row.jumbotron
      h1 プロジェクト一覧
    .row
      each project in projects
        .col-sm-4.col-md-4
          .thumbnail
            a(href='/project/view/#{project.id}')
              h2
                = project.title
              p
                = project.description
